<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.datatest.mapper.TopMapper">
    <select id="listTop" resultType="com.tree.datatest.domain.TStatHlDay">
        SELECT * from t_stat_hl_day WHERE device_id in
        <foreach collection="deviceList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        and `day`=#{date}
    </select>

<!--    <select id="getDeviceByNo" resultType="com.tree.datatest.domain.Device">-->
<!--        select * from t_device-->
<!--        WHERE id in-->
<!--        <foreach collection="deviceIds" item="item" separator="," open="(" close=")">-->
<!--            #{item}-->
<!--        </foreach>-->
<!--    </select>-->

</mapper>
